.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-body {
    text-align: center;
}

.title {
    font-size: 3em;
    color: #333;
}

.subtitle {
    font-size: 1.5em;
    color: #555;
}
